# Next.js
.next/
out/
build/

# Dependencies
node_modules/

# Env
.env
.env.local
.env.*.local

# System
.DS_Store
*.pem

# Debug
npm-debug.log*

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
